# Byte-code files
*.pyc
__pycache__/

# Virtual environment
venv/
env/
.venv/
.env/

# Database
db.sqlite3
*.sqlite3

# Media and static files (if served locally and not part of the actual project code)
/media/
/static_collected/
staticfiles/

# Django specific
*.log
local_settings.py
.DS_Store # macOS specific
*.env # For environment variables

# Specific to Django project files that shouldn't be tracked
# For example, if you have sensitive settings that should not be public
# myproject/settings/local.py # Example if you have a split settings